<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Back</a>
  <div class="nav-item">
        <input type="text" [(ngModel)]="inputValue" (keyup)="out()" size="50" placeholder="Search by album's name">
  </div>
  <div class="navbar-like"></div>
  <div class="navbar-like-counter">{{counter}}</div>
</nav>


<div class="container">
  <div class="row g-2">
    <div class="col-md-2" *ngFor="let album of searchedAlbums">
      <div class="p-3">
        <div class="container_">
        <img src="{{album.image[3]['#text']}}" class="img-fluid image" alt="...">
        <div class="overlay">
          <div class="text">
            <span><b>{{album.name}}</b></span>
            <br>
            <span>{{album.artist.name}}</span>
          </div>
          <div (click)="likeAlbum(album)">
            <img src="./assets/heart-regular.svg" class="like" *ngIf="!album.liked||album.liked===null">
            <img src="./assets/heart-solid.svg" class="like" *ngIf="album.liked">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

